@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h6,
p,
li,
a,
label {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

header {
    position: absolute;
    background: #181818;
    left: 0px;
    right: 0px;
    transition: all .5s ease;
    padding: 0px 15px;
    z-index: 10;
}

header.fixed {
    /*background-color: #f8f8f8;*/
    /*background-color: rgba(255,255,255,.72);*/
    background-color: #f8f8f8ba;
    backdrop-filter: saturate(180%) blur(25px);
    position: fixed;
    /*border-bottom: 1px solid #eeeeee;*/
    animation: fixHeader .5s ease;
}

header.fixed .brand .logos {
    display: none;
}

header.fixed .brand .logo {
    display: block;
    margin-left: -5px;
    width: 130px;
    transition: .5s ease;
}

header .brand .logo {
    display: none;
}

.logos {
    display: block;
    width: 120px;
}

header .brand {
    position: relative;
}

@keyframes fixHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-0%);
    }
}

header .row {
    justify-content: space-between;
    align-items: center;
}

/*
header .brand-name a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #fcfcfc;
    text-transform: uppercase;
    position: relative;
}

header.fixed .brand-name a {
    color: #000;
}
*/

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 72px;
    color: #dcdde0;
    display: block;
    font-weight: 500;
    position: relative;
}

header.fixed .navbar ul li a {
    color: #000;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #dcdde0;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header.fixed .navbar ul li a::before {
    background-color: #febd01;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* home */
.home {
    min-height: 100vh;
/*    background-image: url(https://fsb.zobj.net/crop.php?r=2luErWc-U-3JEoYziDcNS4kncfDoQTu-FrrQLebQtI6wzMZzQ9tyUa9-WjYuW3TVAx7iH4IP7ptIG7Oi1-t1mM_eBeSz7g36Yf0qjtz7QaueR1-HXp8dRd5j6RgjfKzpTlH3q6liPngFeEBP);
*/  background-attachment: fixed;
    /*background-image: url(./fondo-antony.png);*/
    background: #1d1d1d;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

/*.home:after {
        content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg,#101010 0,transparent);
}*/

.home .full-screen {
    min-height: 90vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 26px;
    border-left: 5px solid #fcfcfc;
    border-radius: 2px;
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: #dcdde0;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #fcfcfc;
    font-size: 52px;
    /*font-weight: 800;*/
    line-height: 56px;
    font-family: 'Londrina Solid', cursive;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 15px;
    position: absolute;
    margin-top: -40px;
    margin-left: -16px;
}

.home .home-content .block h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 15px;
    position: absolute;
    margin-top: 10px;
    margin-left: 18px;
}

.home .home-content .block h3 {
    /*color: #8d8d8d;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;*/
    color: #8d8d8d;
    margin-top: 15px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}

.home .home-content .block a {
    color: #08fdd8;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid #08fdd8;
    border-radius: 15px;
    margin-top: 35px;
    float: left;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.home .home-content .block a:hover {
    color: #000;
    box-shadow: 0 0 0 2em #08fdd8 inset;
}


/* sobre mi */
.about-me {
    padding: 100px 15px;
    background-color: #f8f8f8;
}

.about-me:after {
    /*content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,red,transparent);*/
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.about-me .section-title p.small {
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img {
    flex: 0 0 20.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    box-shadow: 6px 6px 30px #d1d9e6;
    width: 100%;
    display: block;
}

.about-me .about-content .text {
    flex: 0 0 79.66%;
    max-width: 79.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #333;
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #333;
}

.about-me .about-content .text h6 span {
    color: #febd01;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}

.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .about-content .text .info .list {
    flex: 0 0 calc(50% - 15%);
    max-width: calc(50% - 15%);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info label {
    padding-right: 10px;
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list p {
    margin: 0;
}

.about-me .about-content .text .social-links {
    padding-top: 30px;
}

.about-me .about-content .text .social-links a {
    height: 30px;
    width: 30px;
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #333;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-links a .fa {
    color: #fcfcfc;
    margin-top: 9px;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover .fa {
    color: #333;
}




/* servicio */
.services {
    /*background-color: #f5f8fd;*/
    background-color: #ecf0f3; 
    padding: 100px 15px 70px;
}

.services .section-title h1:before {
    left: 30%;
}

.services .service-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*justify-content: space-between;*/
}

.services .service-content .box {
    background-color: #f8f8f87a;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    cursor: default;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all .5s ease;
}

.services .service-content .box:hover {
    /*box-shadow: 6px 6px 30px #d1d9e6;*/
    box-shadow: 0 0 35px -2px #d1d9e6;
}

.services .service-content .box::before {
    content: '';
    height: 2px;
    background-color: #8e8e8e;
    border-radius: 100px;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.services .service-content .box:hover::before {
    background-color: #d64e29;
    width: 100%;
}

.services .service-content .css:hover::before {
    background-color: #0e6cb7;
}

.services .service-content .javas:hover::before {
    background-color: #dfc01c;
}

.services .service-content .git:hover::before {
    background-color: #2f2f2f;
}

.services .service-content .photo:hover::before {
    background-color: #20677d;
}

.services .service-content .adobe:hover::before {
    background-color: #450035;
}

.services .service-content .box .icon {
    height: 60px;
    width: 60px;
    /*background: #323232;*/
    background-color: #f8f8f87a;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
    transition: all .5s ease;
}

.services .service-content .box:hover .html-icon {
    background-color: #d64e29;
    box-shadow: 0px 0px 30px #d64e29;
}

.services .service-content .box:hover .css-icon {
    background-color: #0e6cb7;
    box-shadow: 0px 0px 30px #0e6cb7;
}

.services .service-content .box:hover .javas-icon {
    background-color: #2f2f2f;
    box-shadow: 0px 0px 30px #2f2f2f;
}

.services .service-content .box:hover .git-icon {
    background-color: #2f2f2f;
    box-shadow: 0px 0px 30px #2f2f2f;
}

.services .service-content .box:hover .photo-icon {
    background-color: #20677d;
    box-shadow: 0px 0px 30px #20677d;
}

.services .service-content .box:hover .adobe-icon {
    background-color: #450035;
    color: #ecf0f3;
    box-shadow: 0px 0px 30px #450035;
}

.services .service-content .box:hover .icon .fa {
    font-size: 28px;
    color: #ecf0f3;
}

.services .service-content .box:hover .icon .far {
    font-size: 28px;
    color: #ecf0f3;
}

.services .service-content .box:hover .icon .fal {
    font-size: 28px;
    color: #ecf0f3;
}

.services .service-content .box .icon .fa {
    font-size: 35px;
    color: #02203c;
    line-height: 60px;
    transition: all .5s ease;
}

.services .service-content .box .icon .far {
    font-size: 35px;
    color: #02203c;
    line-height: 60px;
    transition: all .5s ease;
}

.services .service-content .box .icon .fal {
    font-size: 35px;
    color: #02203c;
    line-height: 60px;
    transition: all .5s ease;
}

.services .service-content .box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.services .service-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 10px;
}



/* Skills */
.skills {
    padding: 100px 15px;
    background-color: #f8f8f8;
}

.skills .skills-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
}

.skills .img {
    flex: 0 0 50%;
    max-width: 50%;
}

.skills .img img {
    /*box-shadow: 27.1px 62.5px 125px -25px rgba(50,50,93,.6), 16.2px 37.5px 75px -37.5px rgba(0,0,0,.7);*/    /*transform: rotate3d(-2.5,6.866,0,-16deg) rotate(-1deg);*/   
    box-shadow: 6px 6px 30px #d1d9e6;
    border-radius: 8px;
    width: 100%;
    display: block;
}

.skills .skills-content .section-title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0 0;
}

.skills .skills-content .skill-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.skills .skills-content .skill-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar {
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in {
    /*background-color: #febd01;*/
    background-color: #FFB100;
    /*background: linear-gradient(90deg, rgba(255,185,0,1) 0%, rgba(255,105,0,1) 31%, rgba(255,66,0,1) 65%, rgba(255,0,0,1) 100%);
    box-shadow: 6px 6px 30px rgba(255,0,0,1);*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

/*.skills .skills-content .skill-box .skill-bar .skill-css {
    background-color: #0e6cb7;
}

.skills .skills-content .skill-box .skill-bar .skill-js {
    background-color: #febd00;
}

.skills .skills-content .skill-box .skill-bar .skill-xd {
    background-color: #450035;
}*/

.skills .skills-content .skill-box .skill-bar .skill-bar-in span {
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}



/* portafolio */
.portfolio {
    background-color: #ecf0f3;
    padding: 100px 7px;
}

.portfolio .section-title h1:before {
    left: 30%;
}

.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .filter-buttons ul li {
    color: #9B9B9B;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
    transition: all .5s ease;
}

.portfolio .filter-buttons ul li.active {
    color: #333;
    /*border-bottom: 2px solid #000;*/
}

.portfolio .filter-buttons {
    margin-bottom: 25px;
}

.portfolio .portfolio-gallery {
    flex: 0 0 100%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-gallery {
    opacity: 0;
    transition: opacity .5s linear 1s;
}

.portfolio-gallery.imagenes-cargadas {
    opacity: 1;
}

.portfolio .portfolio-gallery .item {
    flex: 0 0 33.33% ;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.portfolio .portfolio-gallery .item .inner {
    position: relative;
}

.portfolio .portfolio-gallery .item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #bdbdbd;
    box-shadow: 0 0 32px -8px #464646;
    /*background-color: #e0dfe07a;*/
    background-color: rgba(255,255,255,.72);
    backdrop-filter: saturate(180%) blur(25px);
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}

.portfolio .portfolio-gallery .item .overlay .fas {
    height: 50px;
    width: 50px;
    /*background-color: #febd01;
    color: #fcfcfc;*/
    background-color: #3b3938;
    color: #e0dfe0b8;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item .overlay .fas:hover {
    /*background-color: #dcb953;
    box-shadow: 2px 5px 30px #dcb953;*/
    background-color: #5d5c5b;
    box-shadow: 2px 5px 30px #797979;
}

.portfolio .portfolio-gallery .item .overlay a .fal, .fad, .far, .fad {
    color: #ebebeb;
    margin-top: 10px;
    font-size: 40px;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay .fas {
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}

@keyframes galleryIcon {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.portfolio .portfolio-gallery .item .overlay h4 {
    margin-top: 15px;
    font-size: 25px;
    color: #3b3938;
    font-weight: 600;
    cursor: default;
}

.portfolio .portfolio-gallery .item:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

@keyframes galleryText {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/*lightbox*/
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(22,22,23,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    justify-content: center;
    align-items: center;
}

.lightbox.show {
    display: flex;
}

.lightbox.hide {
    display: none;
}

.lightbox .close-lightbox {
    height: 35px;
    width: 35px;
    background-color: #fcfcfc;
    color: #000;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}

/*.lightbox .ver-lightbox {
    position: absolute;
    bottom: 24px;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    right: 37%;
    text-align: center;
    line-height: 35px;  
    display: inline-block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    height: 35px;
    width: 35px;
    border: 2px solid #f8f8f8;
    color: #f8f8f8;
    text-align: center;
    line-height: 33px;
    position: absolute;
    right: 37%;
    bottom: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}*/

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    display: block;
}
.btn-link {
    position: absolute;
    bottom: 20px;
    color: #f8f8f8;
    /*background: red;*/
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

 .btn-link a {
    margin: 0px 8px;
    border: 2px solid #f8f8f8;
    display: inline-block;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    color: #ebebec;
    padding: 9px 34px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all .5s ease;
}

.btn-link a:hover {
    background-color: #ebebec;
    color: #333;
}

.btn-link .play-link {
    border-radius: 50%;
    padding: 8px 10px;
}

.btn-link .play-link i{
    margin-left: 5px;
}

/*.descargar {
    position: absolute;
    bottom: 20px;
    border-radius: 5px;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    letter-spacing: 2px;
    right: 20%;
    border-radius: 20px;
    padding: 9px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.descargar:hover {
    color: #333;
    box-shadow: 0 0 0 2em #f8f8f8 inset;
}

.link {
    position: absolute;
    bottom: 20px;
    right: 37%;
    border-radius: 5px;
    color: #f8f8f8;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 9px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.link i {
    font-size: 30px;
}*/





/* message text */
.message-text {
    /*background-color: #0c0c17;*/
    background-image: url(https://i.ibb.co/3zCsDYt/FED426-E3-628-A-4854-B278-719341774-E0-F-1-201-a.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 40px 15px;
}

.message-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .text h2 {
    font-size: 20px;
    color: #f8f8f8;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

.message-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.message-text .button a {
    border-radius: 5px;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.message-text .button a:hover {
    color: #333;
    box-shadow: 0 0 0 2em #f8f8f8 inset;
}



/*Testimoniales*/
.testimonials {
    padding: 100px 0px;
    background-color: #ecf0f3;
}

.testimonials .section-title h1:before {
    left: 30%;
}

.testimonials .testimonials-content {
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;
}

.testimonials .testimonials-content .testi-slider .slide {
    background-color: #fcfcfc;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    padding: 40px 20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    float: left;
    width: 100%;
}

.testimonials .testimonials-content .testi-slider .slide .img {
    flex: 0 0 128px;
    max-width: 128px;
}


.testimonials .testimonials-content .testi-slider .slide p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0;
}

.testimonials .testimonials-content .testi-slider {
    float: left;
    transition: margin 1s ease;
}

.testimonials .testimonials-content .testi-slider .slide h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 10px 0 5px;
}

.testimonials .testimonials-content .slide-controls {
    float: left;
    width: 100%;
    text-align: center;
}

.testimonials .testimonials-content .slide-controls div {
    height: 15px;
    width: 15px;
    background-color: #fcfcfc;
    border-radius: 50%;
    border: 1px solid #febd01;
    display: inline-block;
    margin: 10px 6px;
    cursor: pointer;
}

.testimonials .testimonials-content .slide-controls div.active {
    background-color: #febd01;
}






/*Blogs*/
.blogs {
    padding: 100px 15px;
    background-color: #f8f8f8;
}

.blogs .section-title h1:before {
    left: 30%;
}

.blogs .blogs-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogs .blogs-content .box {
    cursor: default;
    /*background-color: #f5f8fd;*/
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px);
}

.blogs .blogs-content .box .img {
    overflow: hidden;
    border-radius: 2%;
    transition: all .5s ease;
}

.blogs .blogs-content .box:hover .img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 24px;
}

.blogs .blogs-content .box .img img {
    width: 100%;
    display: block;
    transition: all .5s ease;
}

.blogs .blogs-content .box:hover .img img {
    transform: scale(1.1);
}

.blogs .blogs-content .box .info {
    padding: 10px 0;
}

.blogs .blogs-content .box .info span {
    font-size: 12px;
    color: #838383;
}

.blogs .blogs-content .box .info span:nth-child(2) {
    border-left: 1px solid #838383;
    padding-left: 8px;
    margin-left: 10px;
}

.blogs .blogs-content .box h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: all .5s ease;
}

.blogs .blogs-content .box:hover h3 {
    color: #636161;
}

.blogs .blogs-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
}

.blogs .blogs-content .box a {
    font-size: 14px;
    color: #febd01;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #febd01;
    transition: all .5s ease;
}

.blogs .blogs-content .box a:hover {
    color: #000;
    border-color: #000;
}






/*Contacto*/
.contact-us {
    padding: 100px 15px;
    background-color: #ecf0f3;
}

.contact-us .section-title h1:before {
    left: 30%;
}

.contact-us .contact-form {
    background-color: #f8f8f8;
    box-shadow: 6px 6px 30px #d1d9e6;
    background-color: #f8f8f8;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border-radius: 15px;
}

.contact-us .contact-form .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.contact-us .contact-form .text h2 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
}

.contact-us .contact-form .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0px;
}

.contact-us .contact-form .space-between {
    justify-content: space-between;
}

.contact-us .contact-form .col-6 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}

.contact-us .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-us .contact-form .form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background: none;
    outline: none;
    font-weight: 600;
    color: #333;
    padding: 6px 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.contact-us .contact-form textarea {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    border: none;
    margin-bottom: 5px;
}

/*.contact-us .contact-form textarea.form-control {
    height: 140px;
}*/

.contact-us .contact-form .form-control::placeholder {
    color: #838383;
}

.contact-us .contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-us .contact-form .button button {
    outline: none;
    text-decoration: none;
    border: 2px solid #22262b;
    border-radius: 20px;
    color: #22262b;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background: transparent;
}

.contact-us .contact-form .button button:hover {
    box-shadow: 0 0 0 2em #22262b inset;
    color: #fcfcfc;
}







/*Footer*/
footer {
    padding: 70px 15px;
    background-color: #22262b;
}

footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 28px;
    color: #fcfcfc;
    font-weight: 700;
}

footer .text-footer{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-top: 1rem;
    color: #999999;
}

footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a {
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}

footer .social a:hover {
    color: #fcfcfc;
}

.copyright {
    background-color: #22262b;
    border-top: 1px solid #373a3e;
    padding: 15px;
}

.copyright p {
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}




.ham-burger {
    font-size: 20px;
    display: none;
    color: #000;
    height: 30px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.hide-desktop {
    display: none;
}

.ham-burger .header__menu span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
}

.ham-burger .header__menu span:not(:last-child) {
    margin-bottom: 3px;
}

.ham-burger.open span:first-child {
    transform: rotate(38deg);
    margin-left: 3.5px;
}

.ham-burger.open span:nth-child(2) {
    opacity: 0;
}

.ham-burger.open span:last-child {
    transform: rotate(-38deg);
    margin-left: 3.5px;
}




@keyframes fixHeaderLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*====== Footer ======*/
@media only screen and (max-width: 900px) {
    .home .home-content .block h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 795px) {
    .hide-desktop {
        display: inline-block;
    }

    .ham-burger {
        display: inline-block;
    }

    .home .home-content .block h6 {
        font-size: 15px;
    }
    
    .home .home-content .block h1 {
        font-size: 40px;
        line-height: 45px;
    }
    
    .home .home-content .block h3 {
        font-size: 9px;
    }
    
    .home .home-content .block a {
        font-size: 11px;
        letter-spacing: 3px;
        padding: 8px 18px;
        font-weight: 800;
        border: 2px solid #08fdd8;
    }
    
    header {
        padding: 5px 10px;
        position: fixed;
        background-color: #f8f8f8;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }
    
    /*header .brand-name a {
        color: #333;
        font-size: 19px;
    }*/

    header .brand .logo {
        margin-left: 0px;
        width: 120px;
        display: block;
    }
    
    header .brand .logos {
        display: none;
    }
    
    .ham-burger .fa {
        display: inline-block;
    }
    
    .navbar {
        position: absolute;
        background-color: #f8f8f8;
        /*background-color: rgb(255 255 255 / 78%);
        backdrop-filter: saturate(180%) blur(50px);*/
        width: 100%;
        min-height: 80rem;
        left: -100%;
        top: 57px;
        padding: 15px;
        /*border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;*/
        transition: .5s;
    }
    
    .navbar.show {
        left: 0;
    }
    
    header .navbar ul li {
        display: block;
        margin-left: 0;
    }
    
    header .navbar ul li a {
        line-height: 48px;
        text-align: center;
        transform: translateY(250%);
        color: #000;
    }
    
    header .navbar ul li a::before {
        background-color: #febd01;
    }

    .about-me {
        text-align: center;
    }

    .about-me .section-title h1:before {
        left: 30%;
    }
    
    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }

    .about-me .about-content .text .info .list {
        justify-content: center;
    }
    
    .about-me .about-content .img {
        flex: 0 0 45%;
        margin: auto;
    }

    .about-me .about-content .img img {
        border-radius: 50%;
        border: 1px solid #4e5e79;
    }
    
    .services .service-content .box {
        /*background-color: #fff;*/
       /* padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;*/
        flex: 0 0 50%;
        max-width: 49%;
    }
    
    .skills .skills-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }
    
    .skills .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .portfolio .portfolio-gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
  
    .message-text .text {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    
    .message-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    
    .blogs .blogs-content .box {
        /*flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;*/
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
    
    .contact-us .contact-form {
        padding: 38px 20px;
    }
    
    .contact-us .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 509px) {
    .about-me .about-content .text .info .list {
        flex-flow: column;
        border-bottom: none;
    }

    .about-me .about-content .text .info .list {
        flex: 0 0 calc(50% - 0%);
        max-width: calc(50% - 0%);
    }

    .border-list {
        border-right: 1px solid #b2b2b2;
    }

    .about-me .about-content .text .info label {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 500px) {

    .home .home-content .block .cv-btn a {
        font-size: 10px;
        padding: 8px 19px;
    }
    
    .home .home-content .block {
        padding-left: 20px;
    }
    
    .portfolio .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }

     .blogs .blogs-content .box {
        flex: 0 0 100%;
        max-width: 100%;
     }

     .services .service-content .box {
        flex: 0 0 100%;
        max-width: 100%;
     }
    
    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
    
    .testimonials .testimonials-content .testi-slider .slide {
        text-align: center;
    }
    
    .testimonials .testimonials-content .testi-slider .slide .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .testimonials .testimonials-content .testi-slider .slide {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 364px) {
    
    .home .home-content .block h1 {
        font-size: 32px;
        line-height: 38px;
    }
    
    .home .home-content .block h3 {
        font-size: 8px;
    }
}

/*@media only screen and (max-width: 411px) {
    .home .home-content .block h6 {
        font-size: 13px;
    }
    
    .home .home-content .block h1 {
        font-size: 35px;
    }
    
    .home .home-content .block h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 395px) {
    .home .home-content .block h6 {
        font-size: 13px;
    }
    
    .home .home-content .block h1 {
        font-size: 31px;
    }
    
    .home .home-content .block h3 {
        font-size: 16px;
    }
}*/






